/* Responsivo para tablets Grandes (Ipad Pro) */ @media screen and (max-width:1100px) {

    /* Header-Menu */
    .menu-container {
        max-width:900px;
        width:90%;
    }
    /* Header-Menu */

    /* Section sobre */
    .sobre-container {
        max-width:900px;
        width:90%;
    }
    .sobre-container .ilustracao img{
        width:350px;
        height:350px;
        margin-left:-60px;
    }
    .sobre-estrutura .icons {
        margin-bottom:20px;
    }
    /* Section sobre */

    /* Section portfolio */
    .port-container {
        height:480px;
    }
    .projeto-1,
    .projeto-2,
    .projeto-3 {
        width:280px;
        height:200px;
    }
    .projetos h1 {
        font-size:18px;
    }
    .projetos p {
        font-size:16px;
    }
    .projetos a {
        margin-top:20px;
    }
    /* Section portfolio */
}

/* Responsividade Ipad */ @media screen and (max-width:900px) {
    /* Header-Menu */
    .menu-container {
        height:100px;
    }
    .logo {
        margin:0 auto;
    }
    .nav-menu {
        margin:0 auto;
    }
    /* Header-Menu */

    /* Section sobre */
    .sobre-container p {
        font-size:18px;
        font-family:"Roboto";
        width:400px;
    }
    .sobre-container .ilustracao img{
        width:260px;
        height:260px;
        margin-left:-100px;
    }
    .sobre-estrutura .icons {
        margin-bottom:20px;
    }
    /* Section sobre */

    /* Section portfolio */
    .port-container {
        height:480px;
    }
    .projeto-1,
    .projeto-2,
    .projeto-3 {
        width:220px;
        height:200px;
        margin-right:10px;
    }
    .projetos h1 {
        font-size:14px;
        margin-top:26px
    }
    .projetos p {
        font-size:12px;
        width:180px;
    }
    .projetos a {
        font-size:16px;
        margin-top:20px;        
        margin-right:35px;
    }
    .projetos a img {
        width:24px;
    }
    /* Section portfolio */

    /* Section Contato */
    .contato-container p {
        font-size:22px;
        font-weight:bold;
        font-family:"Roboto";
        margin-bottom:33px;
        display: flex;
    }
    /* Section Contato */
    
    /* footer Copy */
    .footer {
        background:#000;
        width:100%;
        height:72px;
        margin-top:100px;
    }
    /* footer Copy */
}

/* Responsividade Surface Duo */ @media screen and (min-width:480px) and (max-width:560px){
    /* Header-Menu */
    .menu-container {
        width:540px;
        margin:0px;
    }
    .nav-menu ul li {
        font-size:12px;
        margin:0 auto;        
    }
    .nav-menu ul li a {
        padding-left:10px;
    }
    .nav-menu ul li::before {
        height:18px;
        margin-left:10px;
    }
    .nav-menu ul li a img {
        width:12px;
        margin-top:3px;
    }
    /* Header-Menu */

    
    /* Section Bg */
    .banner {
        height:450px;
    }
    .conteudo {
        padding-top:70px;
    }
    .conteudo h1 {
        font-size:42px;
        text-align:center;
    }
    .conteudo h3 {
        font-size:32px;
        text-align:center;
    }
    .conteudo a {
        margin-left:75px;
    }
    /* Section Bg */

    /* Section Sobre */
    .sobre-container {
        display: block;
    }
    .sobre-container .subtitle {        
        text-align:center;
    }
    .sobre-container .subtitle::after {        
        margin:0 auto;
    }
    .sobre-container p {
        padding-top:50px;
        width:400px;
        margin:0 auto;
        text-align:center;
    }
    .sobre-container p::after {
        margin-left:50px;
    }
    .sobre-container .icons {
        display:flex;
        justify-content:center;
        align-items:center; 
        margin-top:40px; 
    }
    .sobre-container .icons img {
        padding-left:20px;
    }
    .sobre-container .icons img:nth-child(1) {
        padding-left:0;
    }
    .sobre-container .ilustracao {        
        display:flex;
        justify-content:center;
        align-items:center;
        margin-right:25px;
    }
    .sobre-container .ilustracao img{
        width:350px;
        height:350px;
        margin-top:-30px;
    }    
    /* Section Sobre */

    /* Section portfolio */
    .port-container {
        height:880px;
    }
    .port-container .subtitle {
        text-align:center;
        padding-bottom:30px;
    }
    .port-container .subtitle::after {
        margin:0 auto;
    }
    .projeto-1,
    .projeto-2,
    .projeto-3 {
        width:360px;
        height:200px;
    }
    .projetos {
        display:block;
        margin-left:65px;
    }
    .projetos h1 {
        font-size:20px;
        padding-top:30px;
    }
    .projetos p {
        font-size:14px;
    }
    /* Section portfolio */

    /* Section Contato */
    .contato-container p {
        font-size:14px;
        font-weight:bold;
        font-family:"Roboto";
        margin-bottom:33px;
        display: flex;
    }
    /* Section Contato */
    
    /* footer Copy */
    .footer {
        background:#000;
        width:100%;
        height:72px;
        margin-top:70px;
    }
    /* footer Copy */
        
}

/* Responsividade Iphone 6/7/8 plus , Pixel2 e XL */ @media screen and (min-width:411px) and (max-width:479px) {
    /* Header-Menu */
    .menu-container {
        width:410px;
        margin:0px;
    }
    .nav-menu ul li {
        font-size:12px;
        margin:0 auto;        
    }
    .nav-menu ul li a {
        padding-left:10px;
    }
    .nav-menu ul li::before {
        height:18px;
        margin-left:10px;
    }
    .nav-menu ul li a img {
        width:12px;
        margin-top:3px;
    }
    /* Header-Menu */

    /* Section Bg */
    .home {
        margin-top:100px;
    }
    .conteudo {
        padding-top:70px;
    }
    .conteudo h1 {
        font-size:36px;
        text-align:center;
    }
    .conteudo h3 {
        font-size:28px;
        text-align:center;
    }
    .conteudo a {
        margin-left:25px;
    }
    /* Section Bg */

    /* Section Sobre */
    .sobre-estrutura {
        margin-left:-14px;
    }
    .sobre-container {
        display:block;
    }
    .sobre-container .subtitle {  
        margin-top:40px;      
        text-align:center;
    }
    .sobre-container .subtitle::after {        
        margin:0 auto;
    }
    .sobre-container p {
        padding-top:50px;
        width:400px;
        margin:0 auto;
        text-align:center;
    }
    .sobre-container p::after {
        margin-left:50px;
    }
    .sobre-container .icons {
        display:flex;
        justify-content:center;
        align-items:center; 
        margin-top:40px; 
        margin-left:10px;
    }
    .sobre-container .icons img {
        padding-left:20px;
    }
    .sobre-container .icons img:nth-child(1) {
        padding-left:0;
    }
    .sobre-container .ilustracao {        
        display:block;
        justify-content:center;
        align-items:center;
        margin-left:110px;
    }
    .sobre-container .ilustracao img{
        width:350px;
        height:350px;
        margin-top:-30px;
    }    
    /* Section Sobre */

    /* Section portfolio */
    .port-container {
        height:880px;
    }
    .port-container .subtitle {
        text-align:center;
        padding-bottom:30px;
    }
    .port-container .subtitle::after {
        margin:0 auto;
    }
    .projeto-1,
    .projeto-2,
    .projeto-3 {
        width:360px;
        height:200px;
    }
    .projetos {
        display:block;
        margin-left:8px;
    }
    .projetos h1 {
        font-size:20px;
        padding-top:30px;
    }
    .projetos p {
        font-size:14px;
    }
    /* Section portfolio */

    /* Section Contato */
    .contato-container p {
        font-size:12px;
        font-weight:bold;
        font-family:"Roboto";
        margin-bottom:33px;
        display: flex;
    }
    .contato-container span {
        width:20px;
        height:9px;
        background:#DAA520;
        align-self:center;
        margin-right:12px;
    }
    /* Section Contato */
    
    /* footer Copy */
    .footer {
        background:#000;
        width:100%;
        height:72px;
        margin-top:70px;
    }
    /* footer Copy */
}

/* Responsividade Iphone6/7/8, Iphone X */ @media screen and (max-width:375px) {
    /* Header-Menu */
    .menu-container {
        width:375px;
        margin:0px;
    }
    .nav-menu ul li {
        font-size:12px;
        margin:0 auto;        
    }
    .nav-menu ul li a {
        padding-left:10px;
    }
    .nav-menu ul li::before {
        height:18px;
        margin-left:10px;
    }
    .nav-menu ul li a img {
        width:12px;
        margin-top:3px;
    }
    /* Header-Menu */

    /* Section Bg */
    .home {
        margin-top:100px;
    }
    .conteudo {
        padding-top:80px;
    }    
    .conteudo h1 {
        font-size:36px;
        text-align:center;
    }
    .conteudo h3 {
        font-size:28px;
        text-align:center;
    }
     /* Section Bg */

     /* Section Sobre */
    .sobre-estrutura {
        margin-left:-14px;
        width:375px;
    }
    .sobre-container {
        display:block;
        margin-left:13px;
    }
    .sobre-container .subtitle {  
        margin-top:40px;      
        text-align:center;
    }
    .sobre-container .subtitle::after {        
        margin:0 auto;
    }
    .sobre-container p {
        padding-top:50px;
        width:300px;
        margin:0 auto;
        text-align:center;
    }
    .sobre-container .icons {      
        margin-left:55px;
        margin-top:40px;
    }
    .sobre-container .icons img {
        padding-left:20px;
    }
    .sobre-container .icons img:nth-child(1) {
        padding-left:0;
    }
    .sobre-container .ilustracao {        
        display:block;
        justify-content:center;
        align-items:center;
        margin-left:100px;
    }
    .sobre-container .ilustracao img{
        width:350px;
        height:350px;
        margin-top:-50px;
    }    
    /* Section Sobre */

    /* Section portfolio */
    .port-container {
        height:880px;
    }
    .port-container .subtitle {
        text-align:center;
        padding-bottom:30px;
    }
    .port-container .subtitle::after {
        margin:0 auto;
    }
    .projeto-1,
    .projeto-2,
    .projeto-3 {
        width:320px;
        height:200px;
    }
    .projetos {
        display:block;
        margin-left:8px;
    }
    .projetos h1 {
        font-size:20px;
        padding-top:30px;
    }
    .projetos p {
        font-size:14px;
    }
    /* Section portfolio */

    /* Section Contato */
    .contato-container p {
        font-size:10px;
        font-weight:bold;
        font-family:"Roboto";
        margin-bottom:20px;
        display: flex;
    }
    .contato-container span {
        width:15px;
        height:9px;
        background:#DAA520;
        align-self:center;
        margin-right:12px;
    }
    /* Section Contato */
    
    /* footer Copy */
    .footer {
        background:#000;
        width:100%;
        height:72px;
        margin-top:50px;
    }
    .footer h1{       
        font-size: 18px;
    }
    /* footer Copy */
}

/* Responsividade motoG4, Galaxy S5 */ @media screen and (max-width:360px) {
    /* Header-Menu */
    .menu-container {
        width:374px;
        margin:0px;
        margin-left:-8px;
    }
    .nav-menu ul li {
        font-size:12px;
        margin:0 auto;        
    }
    .nav-menu ul li a {
        padding-left:10px;
    }
    .nav-menu ul li::before {
        height:18px;
        margin-left:10px;
    }
    .nav-menu ul li a img {
        width:12px;
        margin-top:3px;
    }
    /* Header-Menu */

    /* Section Bg */
    .home {
        margin-top:100px;
    }
    .conteudo {
        padding-top:80px;
    }    
    .conteudo h1 {
        font-size:36px;
        text-align:center;
    }
    .conteudo h3 {
        font-size:28px;
        text-align:center;
    }
    /* Section Bg */

    /* Section Sobre */
    .sobre-estrutura {
        margin-left:-14px;
        width:360px;
    }
    .sobre-container {
        display:block;
        margin-left:13px;
    }
    .sobre-container .subtitle {  
        margin-top:40px;      
        text-align:center;
    }
    .sobre-container .subtitle::after {        
        margin:0 auto;
    }
    .sobre-container p {
        padding-top:50px;
        width:300px;
        margin:0 auto;
        text-align:center;
    }
    .sobre-container .icons {      
        margin-left:40px;
        margin-top:40px;
    }
    .sobre-container .icons img {
        padding-left:20px;
    }
    .sobre-container .icons img:nth-child(1) {
        padding-left:0;
    }
    .sobre-container .ilustracao {        
        display:block;
        justify-content:center;
        align-items:center;
        margin-left:90px;
    }
    .sobre-container .ilustracao img{
        width:350px;
        height:350px;
        margin-top:-50px;
    }    
    /* Section Sobre */
    /* Section portfolio */
    .projeto-1,
    .projeto-2,
    .projeto-3 {
        width:320px;
    }
    .projetos {
        display:block;
        margin-left:4px;
    }    
    /* Section portfolio */

    /* Section Contato */
    .contato-container p {
        font-size:10px;
        font-weight:bold;
        font-family:"Roboto";
        margin-bottom:20px;
        display: flex;
    }
    .contato-container span {
        width:15px;
        height:9px;
        background:#DAA520;
        align-self:center;
        margin-right:12px;
    }
    /* Section Contato */
    
    /* footer Copy */
    .footer {
        background:#000;
        width:100%;
        height:72px;
        margin-top:50px;
    }
    .footer h1{       
        font-size: 18px;
    }
    /* footer Copy */
}

/* Responsividade Iphone5*/ @media screen and  (max-width:320px) {
    /* Header-Menu */
    .menu-container {
        width:320px;
        margin:0px;
    }
    .logo img {
        width:250px;
    }
    .nav-menu ul li {
        font-size:10px;
        margin:0 auto;        
    }
    .nav-menu ul li a {
        padding-left:10px;
    }
    .nav-menu ul li::before {
        height:18px;
        margin-left:10px;
    }
    .nav-menu ul li a img {
        width:12px;
        margin-top:3px;
    }
    /* Header-Menu */

    /* Section Bg */
    .banner {
        height:400px;
    }
    .conteudo {
        padding-top:80px;
    }    
    .conteudo h1 {
        font-size:28px;
        text-align:center;
    }
    .conteudo h3 {
        font-size:20px;
        text-align:center;
    }
    .conteudo a {
        font-size:20px;
        margin-left:15px;
    }
    /* Section Bg */

    /* Section Sobre */
    .sobre-estrutura {
        margin-left:-14px;
        width:320px;
    }
    .sobre-container {
        display:block;
        margin-left:13px;
    }
    .sobre-container .subtitle {  
        margin-top:40px;      
        text-align:center;
    }
    .sobre-container .subtitle::after {        
        margin:0 auto;
    }
    .sobre-container p {
        padding-top:50px;
        width:300px;
        margin:0 auto;
        text-align:center;
    }
    .sobre-container .icons {      
        margin-left:25px;
        margin-top:40px;
    }
    .sobre-container .icons img {
        padding-left:20px;
    }
    .sobre-container .icons img:nth-child(1) {
        padding-left:0;
    }
    .sobre-container .ilustracao {        
        display:block;
        justify-content:center;
        align-items:center;
        margin-left:98px;
    }
    .sobre-container .ilustracao img{
        width:300px;
        height:300px;
        margin-top:-50px;
    }    
    /* Section Sobre */

    /* Section portfolio */    
    .projeto-1,
    .projeto-2,
    .projeto-3 {
        width:280px;
    }
    .projetos {
        margin-left:5px;
    }
    /* Section portfolio */

    /* Section Contato */
    .contato-container p {
        font-size:10px;
        font-weight:bold;
        font-family:"Roboto";
        margin-bottom:20px;
        display: flex;
    }
    .contato-container span {
        width:15px;
        height:9px;
        background:#DAA520;
        align-self:center;
        margin-right:12px;
    }
    /* Section Contato */
    
    /* footer Copy */
    .footer {
        background:#000;
        width:100%;
        height:72px;
        margin-top:50px;
    }
    .footer h1{       
        font-size:16px;
    }
    /* footer Copy */
}

/* Responsividade Galaxy Fold*/ @media screen and (max-width:280px) {
    /* Header-Menu */
    .menu-container {
        width:280px;
        margin:0px;
    }
    .logo img {
        width:200px;
    }
    .nav-menu ul li {
        font-size:10px;
        margin:0 auto;        
    }
    .nav-menu ul li a {
        padding-left:10px;
    }
    .nav-menu ul li::before {
        height:14px;
        margin-left:10px;
    }
    .nav-menu ul li a img {
        width:12px;
        margin-top:1px;
    }
    /* Header-Menu */

    
    /* Section Bg */
    .conteudo a {
        margin:0px;
    }
    /* Section Bg */

    /* Section Sobre */
    .sobre-estrutura {
        margin-left:-14px;
        width:280px;
    }
    .sobre-container {
        display:block;
        margin-left:13px;
    }
    .sobre-container .subtitle {  
        margin-top:40px;      
        text-align:center;
    }
    .sobre-container .subtitle::after {        
        margin:0 auto;
    }
    .sobre-container p {
        font-size:16px;
        width:280px;
    }
    .sobre-container p::after {
        width:280px;        
    }
    .sobre-container .icons {      
        margin-left:20px;
        margin-top:40px;
    }
    .sobre-container .icons img {
        padding-left:10px;
    }
    .sobre-container .icons img:nth-child(1) {
        padding-left:0;
    }
    .sobre-container .ilustracao {        
        display:block;
        justify-content:center;
        align-items:center;
        margin-left:90px;
    }
    .sobre-container .ilustracao img{
        width:270px;
        height:270px;
        margin-top:-50px;
    }    
    /* Section Sobre */

    /* Section portfolio */    
    .projeto-1,
    .projeto-2,
    .projeto-3 {
        width:240px;
    }
    .projetos {
        margin-left:6px;
    }
    /* Section portfolio */
}