/* CSS RESET */
* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border:0;
    text-decoration:none;
}
html {
    scroll-behavior:smooth;
}
/* CSS RESET END */


/* HEADER MENU START */
.l-menu {
    background:#000;       
}
.menu-container {
    max-width:1200px;
    width:90%;    
    height:80px; 
    margin:0 auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
}
.nav-menu ul{
    display:flex;
}
.nav-menu ul li {
    font-size:18px;
    font-family:"Poppins", sans-serif;   
}
.nav-menu ul li::before {
    content: "";
    width:2px;    
    height:26px;
    display: block;
    float: right;
    background:#DAA520;
    margin-left:20px;
}
.nav-menu ul li:nth-child(5)::before,
.nav-menu ul li:nth-child(6)::before  {
    display:none;
}
.nav-menu ul li a:hover {
    color:#DAA520;
    transition:ease .5s;
}
.nav-menu ul li a {
    color:#fff;
    padding-left:20px;    
}
.nav-menu ul li a img {
    width:15px;
    margin-top:6px;
}
/* HEADER MENU END */

/* SECTION BG HOME START */
.banner {
    background:url(../img/bg.jpg) no-repeat center;
    background-size:cover;
    height:500px;
}
.bg-container {
    max-width:1200px;
    width:90%; 
    margin:0 auto;
}
.conteudo {
    padding-top:110px;
}
.conteudo h1 {
    font-size:42px;
    font-weight:bold;
    font-family:"Poppins", sans-serif;
    color:#fff;
    margin-bottom:48px;
}
.conteudo h1 span{
    color:#DAA520;
}
.conteudo h3 {
    font-size:36px;
    font-family:"Poppins", sans-serif;
    color:#fff;
    margin-bottom:48px;
}
.conteudo h3 span {
    color:#DAA520;
}
.conteudo a {
    font-size:28px;
    font-family:"Poppins", sans-serif;
    color:#fff;
    display:flex;    
}
.conteudo a:hover {
    color:#DAA520;
    transition:ease 0.3s;
}
.conteudo a img {
    margin-right:16px;
    animation: arrow 1s infinite;
}

/* Animations */
@keyframes arrow{
    from {transform:translate(15px)}
}
/* SECTION BG HOME END */